main {
    .sobre-mi-container {
        padding: 1.5em;
        background: rgb(65, 65, 65);
        padding: 3em;

        .titulo-sobre-mi {
            align-items: center;
            background-color: #403022;
            border-radius: 1.2em;
            padding: 1em;

            h1 {
                color: #FDF9F0;
                letter-spacing: 2px;
                font-size: 3em;
                text-align: center;
                font-weight: 200;
                font-family: 'Poppins', sans-serif;
                transition: transform 2s;

                &:hover {
                    transform: translateX(12em);
                }
            }
        }

        .texto-sobre-mi {
            align-items: center;
            background: #FDF9F0;
            border-radius: 1.2em;
            padding: 1em;

            p {
                color: rgb(65, 65, 65);
                letter-spacing: 2px;
                font-size: 1em;
                text-align: justify;
                font-weight: 200;
                font-family: 'Roboto Flex', sans-serif;
            }

        }
    }

    .carrusel-fotos-biografia {
        background-color: rgb(41, 41, 41);
        color: rgb(58, 57, 57);
        width: 100vw;
        align-content: center;

        .container-carrusel {
            padding: 6em;
            align-items: center;
            text-align: center;

            .tamaño-carrusel {
                margin: auto;
                height: 80vh;
                width: 80vw;

                img {
                    object-fit: cover;
                    width: 90%;
                    height: 90%;
                    border-radius: 5px;

                }
            }
        }
    }

    .container-proyectos {
        padding: 1.5em;
        background: rgb(65, 65, 65);
        padding: 3em;

        .titulo-mis-proyectos {
            align-items: center;
            background-color: #403022;
            border-radius: 1.2em;
            padding: 1em;

            h2 {
                color: #FDF9F0;
                letter-spacing: 2px;
                font-size: 3em;
                text-align: center;
                font-weight: 200;
                font-family: 'Poppins', sans-serif;
                transition: transform 2s;

                &:hover {
                    transform: translateX(12em);
                }
            }
        }

        .texto-mis-proyectos {
            align-items: center;
            background: #FDF9F0;
            border-radius: 1.2em;
            padding: 1em;

            p {
                color: rgb(65, 65, 65);
                letter-spacing: 2px;
                font-size: 1em;
                text-align: justify;
                font-weight: 200;
                font-family: 'Roboto Flex', sans-serif;
            }

        }
    }

    .container-aside-newsletter {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 1em;
        margin-top: 0.5em;

        .carrusel-sponsor {
            background-color: rgb(77, 77, 77);
            border-radius: 2em;
            text-align: center;
            align-content: center;
            overflow: hidden;

            h4 {
                text-align: left;
                padding: 0.2em;
                color: white;
                font-family: 'Roboto Flex', sans-serif;
                font-weight: 300;
                font-size: 3em;
            }

            @mixin white-gradient {
                background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            }
            
            $animationSpeed: 40s;
            
            // Animation
            @keyframes scroll {
                0% { transform: translateX(0); }
                100% { transform: translateX(calc(-250px * 7))}
            }
            
            
            // Styling
            .slider {
                background: white;
                box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
                height: 100px;
                margin: auto;
                overflow:hidden;
                position: relative;
                width: 960px;
                
                &::before,
                &::after {
                    @include white-gradient;
                    content: "";
                    height: 100px;
                    position: absolute;
                    width: 200px;
                    z-index: 2;
                }
                
                &::after {
                    right: 0;
                    top: 0;
                    transform: rotateZ(180deg);
                }
            
                &::before {
                    left: 0;
                    top: 0;
                }
                
                .slide-track {
                    animation: scroll $animationSpeed linear infinite;
                    display: flex;
                    width: calc(250px * 14);
                }
                
                .slide {
                    height: 100px;
                    width: 250px;
                }
            }
        }

        .newsletter {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at right center, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
            display: flex;
            flex-flow: column wrap;
            border-radius: 2em;


            div {
                align-content: center;
                padding: 0.5em;

                h3 {
                    text-align: left;
                    padding: 0.2em;
                    color: #FDF9F0;
                    font-family: 'Roboto Flex', sans-serif;
                    font-weight: 300;
                    font-size: 3em;
                }

                p {
                    text-align: left;
                    padding: 0.2em;
                    color: white;
                    font-family: 'Roboto Flex', sans-serif;
                    font-weight: 100;
                    font-size: 1.5em;
                }

                .inputs-newsletter {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    .inputs {
                        border-radius: 1.5em;
                        font-size: 1.5em;
                        padding: 0.2em;
                    }
                    .button-newsletter{
                        border-radius: 1.5em;
                        font-size: 1.5em;
                        padding: 0.2em;
                        button{
                            border-radius: 1.5em;
                        }
                    }
                    }
                }
            }
        }
    }
